<section class="snackbar-section">
  <form class="form">
    <label>
      Delay (ms)
      <input type="number" name="delay" value="1500" required />
    </label>

    <fieldset>
      <legend>State</legend>
      <label>
        <input type="radio" name="state" value="fulfilled" checked required />
        Fulfilled
      </label>
      <label>
        <input type="radio" name="state" value="rejected" required />
        Rejected
      </label>
    </fieldset>

    <button type="submit">Create notification</button>
  </form>

</section>


